* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}
body {
  background-color: #1f1f1f;
  padding: 0 8px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  font-size: larger;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 15em;
}
