/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}
body {
  background-color: #1f1f1f;
}
.home,
.anime-content > section {
  width: 75em;
  margin: 0 auto;
}
/* Navigationn styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7em;
  padding: 0.6em 0 2em;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 15em;
}
.title {
  font-size: 1.5em;
}
/* Intro page styling */
.bg-container {
  background-image: url("./assets/home-bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-content {
  display: grid;
  place-items: center;
  height: 99vh;
  width: 10em;
  opacity: 1;
}
.home-content div h1 {
  font-size: 6em;
  transition: 200ms;
  animation: fade 3.5s linear infinite;
}
/* Animation for fading in & out of the text */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Top anime content */
.anime-content {
  background-color: #008080;
  padding: 8em 0;
}
.anime-content h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 1em;
}
.anime-content > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anime-intro {
  width: 13.5em;
}
.action-figure {
  height: 17.5em;
  width: 100%;
}
.action-figure img,
.comic-image img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% top;
  box-shadow: 2px 3px 4px black;
}
.comic-desc {
  font-size: 1.05em;
  margin: 1em 0;
  height: 2.5em;
}
.anime-intro button {
  font-size: 1.3em;
  background-color: #ff7300;
  border: 0;
  padding: 0.7em;
  border-radius: 0 0.7em 0 0.7em;
  box-shadow: 9px 10px 0 black;
  transition: translate 200ms;
  cursor: pointer;
}
.anime-intro button:hover {
  translate: 2px 5px;
}

/* Comic content style */
.comic-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3em;
  padding-bottom: 2em;
}
.comic-intro {
  width: 16em;
}
.comic-image {
  height: 20em;
}
.comic-intro button {
  font-size: 1.3em;
  background-color: green;
  border: 0;
  padding: 0.7em 0.5em;
  border-radius: 0 0.7em 0 0.7em;
  box-shadow: 9px 10px 0 burlywood;
}

/* Responsiveness */
/* Responsiveness for ipad */
@media only screen and (max-width: 76em) {
  /* General style */
  header {
    padding: 0.6em 1em 2em;
  }
  .home,
  .anime-content > section {
    width: 100%;
  }

  /*Comic style*/
  .comic-content {
    justify-content: space-around;
    gap: 5em 0;
  }
  .comic-intro {
    width: 25em;
  }
  .comic-image {
    height: 25em;
  }
}
/* Responsiveness for mobile */
@media only screen and (max-width: 730px) {
  /* General styling  */
  header ul {
    display: none;
  }
}
@media only screen and (max-width: 440px) {
  /* General styling */
  .home {
    padding: 0 1em;
  }
  header {
    padding: 0.6em 0 2em;
  }
  /* Comic styling */
  .comic-content {
    gap: 7em 0;
  }
  .comic-intro {
    width: 100%;
  }
  .comic-image {
    height: 100%;
  }
}
