/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}
body {
  font-family: cursive;
  background-color: #1f1f1f;
}
.home,
.anime-content > section {
  width: 75em;
  margin: 0 auto;
}
/* Navigationn styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7em;
  padding: 0.6em 0 2em;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 15em;
}
header ul li > a:hover {
  color: #ff7300;
  transition: color 200ms;
}
.title {
  font-size: 1.5em;
}
.bi-list-nested,
.bi-x-circle {
  display: none;
  cursor: pointer;
}
.err-img {
  height: 100vh;
  padding: 0;
  background-image: url(./assets/404-error.jpg);
  background-size: cover;
  background-position: 5% 34%;
  background-repeat: no-repeat;
  padding: 45vh 0;
}
.err-img p {
  color: #1f1f1f;
  cursor: pointer;
}
.err-img p:hover {
  color: #ff7b00;
}
/* Intro page styling */
.bg-container {
  background-image: url("./assets/home-bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-content {
  display: grid;
  place-items: center;
  height: 99vh;
  width: 10em;
  opacity: 1;
}
.home-content div h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 6em;
  transition: 200ms;
  animation: fade 3.5s linear infinite;
}
/* Animation for fading in & out of the text */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Top anime content */
.anime-content {
  background-color: #008080;
  padding: 8em 0;
}
.anime-content h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 1em;
}
.anime-content > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anime-intro {
  width: 13.9em;
}
.anime-intro .comic-desc {
  text-align: left;
  height: 2em;
  margin: 2em 0;
}
.action-figure {
  height: 17.5em;
  width: 100%;
}
.action-figure img,
.comic-image img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 8% top;
  box-shadow: 1px 1px 13px #5a554b;
}
.comic-desc {
  font-size: 1.05em;
  height: 2.5em;
}
.anime-intro button {
  font-size: 1.3em;
  background-color: #ff7300;
  border: 0;
  padding: 0.7em;
  border-radius: 0 0.7em 0 0.7em;
  box-shadow: 12px 14px 2px #000000;
  transition: translate 200ms;
  cursor: pointer;
}
.anime-intro button:hover {
  translate: 2px 5px;
}

/* Comic content style */
.comic-content,
.series {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5em 3em;
  padding-bottom: 4em;
}
.comic-intro {
  display: grid;
  row-gap: 3em;
  width: 16.5em;
}
.comic-image {
  height: 23em;
}
.comic-intro button {
  font-size: 1.3em;
  background-color: green;
  border: 0;
  padding: 0.7em 0.5em;
  border-radius: 0 0.7em 0 0.7em;
  box-shadow: 9px 10px 0 burlywood;
}

/* Responsiveness */
/* Responsiveness for ipad */
@media only screen and (max-width: 76em) {
  /* General style */
  header {
    padding: 0.6em 1em 2em;
  }
  .home,
  .anime-content > section {
    width: 100%;
  }

  /* Intro page styling */
  .anime-content > section {
    display: grid;
    place-content: space-around;
    place-items: center;
    row-gap: 4em;
  }
  .anime-content > section > section:first-child {
    grid-column: 1/3;
  }
  .anime-intro {
    width: 20em;
  }
  .anime-intro > section:last-child,
  .comic-intro > section:last-child {
    display: grid;
    place-items: center;
    width: 100%;
  }
  .comic-desc {
    text-align: center;
    height: 100%;
  }
  .anime-intro button {
    padding: 0.8em 1.2em;
  }

  /* combined style */
  .action-figure,
  .comic-image {
    height: 25em;
  }

  /*Comic style*/
  .comic-content,
  .series {
    justify-content: space-around;
    gap: 5em 0;
  }
  .comic-intro {
    width: 25em;
    row-gap: 1em;
  }
}

/* Responsiveness for mobile */
@media only screen and (max-width: 730px) {
  /* General styling  */
  header ul {
    display: none;
  }
  .err-img {
    background-position: 30% 0%;
  }
  .bi-list-nested,
  .bi-x-circle {
    display: block;
    font-size: 1.2em;
  }
  .title {
    font-size: 1.2em;
  }
  .show {
    display: block;
    position: absolute;
    top: 2.2em;
    left: 0;
    width: 100%;
  }

  header ul li {
    padding: 0.3em 0 0.4em 1em;
    border-bottom: 2px solid #ffffff;
    border-radius: 2px;
    width: 100%;
    position: relative;
  }
  header ul li:first-child {
    border-top: 2px solid #ffffff;
  }

  /* Intro page styling */
  .anime-content {
    padding: 8em 1em;
  }
  .anime-content > section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 7em;
  }
  .home-content div h1 {
    width: 100%;
    font-size: 4em;
  }
  /* comic styling */
  .comic-content,
  .series {
    margin-top: 3em;
  }
}
@media only screen and (max-width: 450px) {
  /* General styling */
  .home {
    padding: 0 1em;
  }
  .err-img {
    height: 80vh;
    background-position: 42% 0%;
  }
  header {
    padding: 0.6em 0 2em;
  }
  /* Intro page syling */
  .anime-content h1 {
    font-size: 2.3em;
  }
  .anime-intro {
    width: 100%;
  }
  .anime-intro .comic-desc {
    text-align: center;
    height: 100%;
    margin: 1.2em 0;
  }

  /* Comic styling */
  .comic-content,
  .series {
    gap: 7em 0;
  }
  .comic-intro {
    width: 100%;
  }
  .comic-image {
    height: 100%;
  }
}
